.header {
  height: 80px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 40px;
  .left {
    display: flex;
    gap: 20px;
    align-items: center;
    .logo {
      img {
        height: 50px;
      }
    }
    .menu {
      display: flex;
      gap: 30px;
      a {
      }
    }
  }
  .right {
    display: flex;
    gap: 20px;
    align-items: center;
    button {
      border-radius: 20px;
      padding: 10px 20px;
      background-color: rgb(255, 80, 11);
    }
    .social-media {
      display: flex;
      gap: 30px;
      a {
        svg {
          background-color: rgb(255, 80, 11);
          font-size: 40px;
          border-radius: 50%;
          padding: 10px;
        }
      }
    }
  }
}
@media only screen and (max-width: 1100px) {
  .social-media {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 10px;
    right: 10px;
    gap: 10px !important;
  }
}
.mobile-header {
  background-color: white;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  position: relative;
  display: none;
  .logo {
    img {
      height: 50px;
    }
  }
  .toggle {
    svg {
      font-size: 50px;
    }
  }
  .media {
    display: flex;
    gap: 30px;
    svg {
      background-color: rgb(255, 80, 11);
      font-size: 40px;
      border-radius: 50%;
      padding: 10px;
    }
  }
  .options {
    width: 100%;
    height: 100dvh;
    background-color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;     svg {
        background-color: rgb(255, 80, 11);
        font-size: 40px;
        border-radius: 50%;
        padding: 10px;
      }
    top: 0;
    left: 0;
    button {
      border-radius: 20px;
      padding: 10px 20px;
      background-color: rgb(255, 80, 11);
    }
    .close {
      position: absolute;
      top: 30px;
      right: 40px;
      svg {
        font-size: 50px;
      }
    }
  }
}
@media only screen and (max-width: 800px) {
  .header {
    display: none;
  }
  .mobile-header {
    display: flex;
  }

.media {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 2000;

  svg {
    background-color: rgb(255, 80, 11);
    font-size: 40px;
    border-radius: 50%;
    padding: 10px;
  }
}

.icons {
  position: fixed;
  bottom: 20px;
  right: 50px;
  display: flex;
  flex-direction: column;
  
}
.icons a svg {
  background-color: rgb(255, 80, 11);
  font-size: 32px;
  border-radius: 50%;
  padding: 10px;
}

.icons a.fb     { transform: rotate(-90deg) translateX(60px) rotate(90deg); }
.icons a.twitter { transform: rotate(-135deg) translateX(60px) rotate(135deg); }
.icons a.insta   { transform: rotate(-180deg) translateX(60px) rotate(180deg); }
.icons a.li      { transform: rotate(-225deg) translateX(60px) rotate(225deg); }

}
