.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  position: relative;
  padding: 20px 20px;
  border-bottom: 1px solid rgb(172, 170, 170);

  .logo {
    img {
      height: 50px;
    }
  }
  .menu {
    display: flex;
    align-content: center;
    justify-content: center;

    gap: 20px;
    a {
      color: white;
      border-bottom: 2px solid transparent;
      &:hover {
        border-bottom: 2px solid red;
      }
    }
  }
  .dash {
    height: 100%;
    cursor: pointer;
    svg {
      fill: white;
      font-size: 40px;
    }
  }
  .dash-para {
    width: 100dvw;
    height: 100dvh;
    background-color: black;
    position: absolute;
    padding: 40px 40px;
    top: 0;
    right: 0;

    p {
      color: white;
    }

    .dashicon {
      position: absolute;
      top: 10px;
      right: 40px;
      svg {
        fill: white;
      }
    }
  }
}

.mob-header {
  display: none;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px;
  border-bottom: 1px solid rgb(172, 170, 170);
  .menulogo {
    svg {
      font-size: 50px;
      fill: white;
    }
  }
  .menu-option {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: black;
    position: absolute;
    width: 100dvw;
    height: 100dvh;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;

    a {
      color: white;
      font-size: 40px;
    }

    .menuicon {
      position: absolute;
      top: 60px;
      right: 60px;
      svg {
        fill: white;
      }
    }
  }
  .logo {
    img {
      height: 50px;
    }
  }
  .dash {
    height: 100%;
    cursor: pointer;

    svg {
      fill: white;
      font-size: 50px;
    }
  }
  .dash-para {
    width: 100dvw;
    height: 100dvh;
    background-color: black;
    position: absolute;
    padding: 40px 40px;
    top: 0;
    right: 0;

    p {
      color: white;
    }

    .dashicon {
      position: absolute;
      top: 10px;
      right: 40px;
      svg {
        fill: white;
      }
    }
  }
}
@media only screen and (max-width: 750px) {
  .header {
    display: none;
  }
  .mob-header {
    display: flex;
  }
}
