.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  position: relative;

  padding: 0px 20px;

  .logo {
    img {
      height: 50px;
    }
  }
  .menu {
    display: flex;
    align-content: center;
    justify-content: center;

    gap: 20px;
    a {
      color: white;
      border-bottom: 2px solid transparent;
      &:hover {
        border-bottom: 2px solid red;
      }
    }
  }
  .dash {
    height: 100%;
    cursor: pointer;
    svg {
      fill: white;
      font-size: 40px;
    }
  }
  .dash-para {
    width: 100dvw;
    height: 100dvh;
    background-color: black;
    position: absolute;
    padding: 40px 40px;
    top: 0;
    right: 0;

    p {
      color: white;
    }

    .dashicon {
      position: absolute;
      top: 0;
        right: 0;
      svg {
        fill: white;
        
      }
    }
  }
}
