.headerparent {
  height: 80px;
  border: 1px solid red;
  .headercontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    .logo {
      height: 100%;
      border: 2px solid green;
      img{
        height: 100%;
      }
    }
  }
}
