.header {
    height: 80px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 100%; 
    padding: 0 40px; 
    position: fixed;
    bottom: 0;

    .logo img {
        height: 50px;
    }

    .menu a {
        margin-left: 20px;
        color: black;
        text-decoration: none;
    }
}
@media only screen and (max-width:650px) {
    .header{
        display: none;
    }
}
.mobile-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 0px 50px;
    height: 80px;
    position: relative;
    display: none;
    .logo{
        img{
            height: 50px;
        }
    }
    .toggle{
        svg{          
            font-size: 50px;
        }
    }
    .options{
        display: flex;
        flex-direction: column;
        height: 100dvh;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        background-color: white;
        width: 100%;
        gap: 40px;
        .close{
            position: absolute;
            top: 30px;
            right: 40px;
        }
    }
}
@media only screen and ( max-width:650px) {
    .mobile-header{
        display: flex;
    }
}