.header {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--accent);
  .logo {
    img {
      height: 60px;
    }
  }
  .menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    a {
      color: white;
      font-size: 20px;
      border-bottom: 2px transparent;
      &:hover {
        border-bottom: 2px solid red;
      }
    }
  }
}
.mob-header {
  display: none;
  width: 100%;
  height: 100px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--accent);
  .logo {
    img {
      height: 60px;
    }
  }
  .menuicon {
    cursor: pointer;
    svg {
      fill: white;
      font-size: 45px;
    }
  }
  .click {
    background: black;
    width: 100dvw;
    height: 100dvh;
    position: absolute;
    top: 0;
    right: 0;

    .cross {
      position: absolute;
      top: 40px;
      right: 60px;
      cursor: pointer;
      svg {
        fill: white;
        font-size: 40px;
      }
    }
    .click-menu {
      display: flex;
      flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100dvh;
      
      gap: 30px;
      cursor: pointer;
    //   padding: 100px 0px;
      a{
      color: var(--white);
      font-size: 40px;
      &:hover{
        border-bottom: 1px solid var(--accent);
      }
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .header {
    display: none;
  }
  .mob-header {
    display: flex;
  }
}
