.header {
  height: 100px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.151);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px;
  gap: 50px;
  position: relative;
  .logo {
    height: 100%;
    display: flex;
    align-items: center;

    img {
      height: 50px;
    }
  }
  .menu {
    display: flex;
    gap: 20px;

    a {
      color: white;
      padding-bottom: 5px;
      border-bottom: 2px solid transparent;
      &:hover {
        border-bottom: 2px solid #ff500b;
      }
    }
  }
  .dash {
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    svg {
      fill: white;
      font-size: 40px;
    }
  }
  //popup for desktop view
  .open-dash {
    position: absolute;
    top: 0;
    right: 0;
    background-color: black;
    height: 100%;
    width: 100%;
    z-index: 999;

    .popup-menu {
      position: absolute;
      padding: 10px;
      border-radius: 10px;
      width: 300px;
      right: 10px;
      top: 10px;
      background-color: white;
      p {
        padding-top: 20px;
        // color: white;
      }
      .close {
        position: absolute;
        top: 0;
        right: 0;
        svg {
          font-size: 30px;
          cursor: pointer;
        }
      }
    }
  }
}
@media only screen and (max-width: 750px) {
  .header {
    display: none;
  }
}
//css for moble menue
.header1{
    display: none;
}

@media only screen and (max-width: 750px) {
  .header1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: relative;
  .menu,
  .dash {
    svg {
      fill: white;
      font-size: 30px;
      cursor: pointer;
    }
  }

  .logo {
    img {
      height: 40px;
    }
  }
  // for popup2

  .popup2-menu {
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    
    .menu-list{
        display: flex;
        flex-direction: column;
        gap: 40px;
        justify-content: center;
        height: 100dvh;
        width: 300px;
        background-color: white;
        padding: 20px;
        position: absolute;
        a{
            // color: white;
            font-size: 30px;
            font-weight: 800;
        }
          .close{
        position: absolute;
        top: 0;
        right: 0;
        svg{
            font-size: 50px;
            fill: black;
            cursor: pointer;
        }
    }
    }
  
  }

  //css for popup3-dash
  .popup3-dash{
    position: absolute;
    top: 0;
    right: 0;
    background-color: black;
    height: 100%;
    width: 100%;
    .dash-list{
        position: absolute;
        right: 20px;
        top: 20px;
        background-color: white;
        width: 300px;
        padding: 20px;
        border-radius: 10px;
        .close{
            position: absolute;
            top: 0;
            right: 0;
            
            svg{
                font-size: 30px;
                cursor: pointer;
            }
        }
    }
    p{
        // color: white;
        padding-top: 20px;
    }
  }
}
}
