.header1 {
  height: 80px;
  background-color: white;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  display: flex;
  border-bottom: 2px solid rgb(255, 80, 11);
  .socialmedia {
    display: flex;
    gap: 20px;
  }
}
.header2 {
  height: 80px;
  background-color: white;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  display: flex;
  border-bottom: 2px solid rgb(255, 80, 11);
  .logo {
    a {
      img {
        height: 50px;
      }
    }
  }
  .menu {
    display: flex;
    gap: 20px;
  }
}
.mobile-header {
  height: 80px;
  background-color: white;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  display: flex;
  border-bottom: 2px solid rgb(255, 80, 11);
  position: relative;
  display: none;
  .logo {
    a {
      img {
        height: 50px;
      }
    }
  }
  .toggle {
    svg {
      font-size: 50px;
    }
  }
  .popup {

    position: absolute;
    top: 0;
    left: 0;
    height: 100dvh;
    width: 100%;
    background-color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
 
    .options {
      display: flex;
      flex-direction: column;
      gap: 30px;
    }
    .close {
      position: absolute;
      top: 40px;
      right: 30px;
      svg {
        font-size: 30px;
      }
    }
  }
}
@media only screen and (max-width: 600px) {
  .header1 {
    display: none;
  }
  .header2 {
    display: none;
  }
  .mobile-header{
    display: flex;
  }
}
