:root {
  --accent: #e97a24;
  --accent-light: #f7e9de;
  --black: #0a0c00;
  --white: #fff;
  --grey: #f0f0f0;
  --trans: all 0.33s ease-in-out;
  --trans-q: all 0.15s ease-in-out;
  --shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  --width: 1600px;
  --input-outline: 1px solid rgb(194, 194, 194);
  --unit:16px
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Quicksand", serif;
  // font-size: calc(var(--unit));
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&family=Sacramento&display=swap");
// font-family: "Montserrat", sans-serif;
// font-family: "Sacramento", serif;
// font-family: "Quicksand", serif;

body {
  background-color: rgb(250, 250, 250);
}
.parent {
  width: 100%;

  .container {
    max-width: var(--width);
    padding: 0px 10px;
    margin: auto;
    height: 100%;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

a,
p,
.para,
strong {
  line-height: 150%;
  letter-spacing: 1px;
  word-spacing: 2px;
  // font-size: clamp(0.95rem, 0.95rem + 0.25vw, 1rem);
  max-width: 65ch;
  text-align: center;
  font-weight: 100;

  span {
    font-size: inherit !important;
    font-weight: inherit !important;
    font-family: inherit !important;
    color: var(--accent);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600 !important;
  line-height: 100%;
  padding: 10px 0;

  span {
    font-size: inherit !important;
    font-weight: inherit !important;
    font-family: inherit !important;
    color: var(--accent);
  }
}


