:root {
  --background-color: white;
  --text: #f5f5f5;
  --accent: orangered;
  --white: white;
  --black: black;
  --unit: 20px;
  --shadow: 0px 0px 30px rgba(0, 0, 0, 0.116);
  --width: 1600px;
  --trans: all 0.3s ease-in-out;
  --trans-delay: all 0.3s 0.1s ease-in-out;

  @import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

  *,
  *::after,
  *::before {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-size: calc(var(--unit));
    color: var(--black);
    font-family: "Cedarville Cursive", cursive;
    scroll-behavior: smooth;
    // border: 1px solid red;
  }
}
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
.heading,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  margin: 0;
}

body {
  width: 100%;
  overflow-x: hidden;
  background: var(--background-color);
}
html {
  scroll-behavior: smooth;
}

p {
  text-align: justify;
  font-size: 1rem;
  line-height: 24px;
  letter-spacing: 0.5px;
  word-spacing: 1px;
  font-weight: 400;
  color: var(--text);
}

.bg-img-cover {
  background-position: left center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}
.bg-img-contain {
  background-position: center center !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
}

.parent {
  width: 100%;

  .cont {
    max-width: var(--width);
    margin: auto;
   
    height: 100%;
    // background: rgba(102, 51, 153, 0.073);
  }
}

a {
  text-decoration: none;
  color: inherit;
}
.button {
  cursor: pointer;
  border-radius: 10px;
  background:var(--accent);
  padding: 5px 10px;
  &:hover {
    background: darkgreen;
    color: var(--white);
  }
}